*{
    background-image: url("image/OIP6.jpg");
}

#name{
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: bold;
    border: solid 5px;
    
    background: rgb(235, 173, 173);
    margin:20px ;
}

.a{
    color: blue;
    margin-top:20px ;
    font-size:25px;
    border:solid;
    background:rgb(221, 221, 255);
    padding-left: 10px;
    border-radius: 10px;
}


.b{
    font-size:20px;
    margin-top:20px;
    padding-left: 20px;
    

}
.c{
    color: blue;
    margin-top:20px ;
    font-size:25px;
    border:solid;
    background:rgb(221, 221, 255);
    padding-left: 10px;
    border-radius: 10px;
    

}
.d{
    font-size:20px;
    margin-top:20px;
    padding-left: 20px;
    
}
.e{
    color: blue;
    margin-top:20px ;
    font-size:25px;
    border:solid;
    background:rgb(221, 221, 255);
    padding-left: 10px;
    border-radius: 10px;
}
.f{
    font-size:20px;
    margin-top:20px;
    padding-left: 20px;
}
.g{
    color: blue;
    margin-top:20px ;
    font-size:25px;
    border:solid;
    background:rgb(221, 221, 255);
    padding-left: 10px;
    border-radius: 10px;
}
.h{
    font-size:20px;
    margin-top:20px;
    padding-left: 20px;
}