body{
margin: 0%;
padding: 0px;
font-family: 'Courier New', Courier, monospace;
background-color: rgb(2, 168, 113);
}
h2{
    font-size: 30px;
    color: red;
}
h1{
    color: white;
    text-align: center;
}
p{
    font-size: 19px;
    color: white;
}
#light-layer{
width: 85%;
height: 200px;
background-color: rgba(0, 0, 0, 0.7);
margin: auto;
margin-top: 3%;
border-radius: 10px;
}
.photo{
    width: 5%;
    margin-left: 1%;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 4px white;
}
.about{
margin-left: 2%;
}
.right-block{
float: right;
margin-top: -520px;
}
button{color: blue;
background-color: skyblue;
width: 90px;
height: 30px;
border-radius: 3px;
border: 0px;
}
